<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Description" content="Get Pokemons" />
    <meta charset="UTF-8" />
    <title>Pokemons</title>
    <style>
      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
      html {
        text-rendering: optimizeLegibility;
        overflow-x: hidden;
        box-sizing: border-box;
        -ms-overflow-style: scrollbar;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: #3d4852;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      html,
      body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
      a {
        color: #e07628;
        text-decoration: none;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        margin: 0;
        padding: 0;
      }
      textarea,
      select,
      input,
      button {
        outline: none;
      }
      #app{
        height: 100%;
      }
    </style>
  </head>
  <body>
    <noscript>
      <p>JavaScript required to view the page</p>
    </noscript>
    <div id="app"></div>
    <% if(process.env.NODE_ENV === 'production') { %>
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
    ></script>
    <% } %>
  </body>
</html>
